<aside class="bo-layout-sidebar">
	<div class="bo-sidebar">
		<h3 class="bo-sidebar-title">设 计</h3>
		<ul class="bo-tab-vertical">
			<li class="bo-tab-item"><a href="fonticon.html">字体图标</a>
				<div class="bo-tab-dock">
					FontIcon
				</div>
			</li>
			 
		</ul>
		<h3 class="bo-sidebar-title">基本样式</h3>
		<ul class="bo-tab-vertical">
			<li class="bo-tab-item"><a href="layouts.html">层和盒子</a>
				<div class="bo-tab-dock">
					Layouts&Box
				</div>
			</li>
			 
		</ul>
		<h3 class="bo-sidebar-title">静态组件</h3>
		<ul class="bo-tab-vertical">
			<li class="bo-tab-item"><a href="header.html">头</a><div class="bo-tab-dock">Header</div></li>
			<li class="bo-tab-item"><a href="menu.html">主菜单</a><div class="bo-tab-dock">Menu</div></li>
			<li class="bo-tab-item"><a href="sidebar.html">主侧栏</a><div class="bo-tab-dock">Sidebar</div></li>
			<li class="bo-tab-item"><a href="tabs.html">菜单列表</a><div class="bo-tab-dock">Tabs</div></li>
			<li class="bo-tab-item"><a href="buttons.html">按 钮</a><div class="bo-tab-dock">Buttons</div></li>
			<li class="bo-tab-item"><a href="form.html">表 单</a><div class="bo-tab-dock">Form</div></li> 
		</ul>
	</div>
</aside>