<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone-mobile counter</title>
<meta name="description" content="">
<meta name="keywords" content="">
<%- include source.ejs %>
</head>
<body class="bo-body">
<%- include commonheader.ejs %>
<%- include commonmenu.ejs %>
<%- include commonsidebar.ejs %>

<section class="bo-layout-main">
	 
	 
	<div class="bo-box-title">数字选择</div>
	<div class="bo-box">
		<div class="bo-p1111">
			
				<div class="bo-counter">
					<button class="bo-btn bo-btn-sm counter-btn plus">
						<i class="icon iconfont icon-move"></i>
					</button>
					<input type="text" class="bo-input bo-input-sm counter-input" value="0">
					<button class="bo-btn bo-btn-sm counter-btn sub">
						<i class="icon iconfont icon-add1"></i>
					</button>
					<div class="bo-clear"></div>
				</div>
				<button class="bo-btn-primary bo-btn-sm">button</button>
			
		</div>
		
 		<div class="bo-p1111 bo-m1000 bo-ovf">
			
				<div class="bo-counter2">
					<button class="counter-btn-disable plus">
						<i class="icon iconfont icon-move"></i>
					</button>
					<input type="text" class="counter-input" value="0">
					<button class="counter-btn sub">
						<i class="icon iconfont icon-add1"></i>
					</button>
					<div class="bo-clear"></div>
				</div>
			 
			
		</div>

		<div class="bo-p1111 bo-m1000 bo-ovf">
			
				<div class="bo-stars">
					
					<button class="star star-check">
						<i class="icon iconfont icon-favorfill"></i>
					</button>
					<button class="star">
						<i class="icon iconfont icon-favorfill"></i>
					</button>
					<button class="star">
						<i class="icon iconfont icon-favorfill"></i>
					</button>
					<button class="star">
						<i class="icon iconfont icon-favorfill"></i>
					</button>
					<button class="star">
						<i class="icon iconfont icon-favorfill"></i>
					</button>
					<div class="score">1 星</div>
				</div>
			 
			
		</div>

		<div class="bo-p1111 bo-m1000 bo-ovf">
			
			<button class="bo-check">
				<i class="icon iconfont icon-cart"></i>
						
			</button>
		 
			<button class="bo-check bo-checked">
				<i class="icon iconfont icon-cart"></i>
						
			</button>	
		</div>

	</div> 
 

	 
 
</section>
</body>
</html>