<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone-mobile header</title>
<meta name="description" content="">
<meta name="keywords" content="">
<%- include source.ejs %>
</head>
<body class="bo-body">
<%- include commonheader.ejs %>
<%- include commonmenu.ejs %>
<%- include commonsidebar.ejs %>

<section class="bo-layout-main">
	<div class="bo-box bo-p0111 bo-article">
		<h2>表 单 <small>form</small></h2>
		<p>IE7-下使用form-control会造成宽度溢出。</p>
	</div>
	<div class="bo-box bo-m1000 bo-p1111">
		<input type="text" class="bo-input" placeholder="Search"> <button class="bo-btn-primary">button</button>
	</div> 

	<div class="bo-box bo-m1000">
		<div class="bo-form-blank">
			<div class="bo-form-item-lg">
 				<label class="bo-label">必填项</label>
 				<div class="bo-input-wrong">
 					<input class="bo-input-lg bo-form-control" type="text" placeholder="Enter something">
					<div class="bo-tip bo-tip-top">错误信息</div>
 				</div>
 			</div>
			<div class="bo-form-item-lg">
 				<label class="bo-label">必填项</label>
 				<div>
 					<input class="bo-input-lg bo-form-control" type="text" placeholder="Enter something">
 				</div>
 			</div> 
		</div>
	</div> 

 	<div class="bo-box bo-m1000 bo-p1111">
 		<div class="bo-form">	 
 			<div class="bo-form-item">
 				<label class="bo-label-required">必填项</label>
 				<div>
 					<input class="bo-input bo-form-control" type="text" placeholder="Enter something">
 				</div>
 			</div>
 			<div class="bo-form-item">
 				<label class="bo-label-required">必填项</label>
 				<div class="bo-input-icon">
 					<input class="bo-input bo-form-control" type="text" placeholder="Enter something">
 					<i class="iconfont icon icon-people"></i>
 				</div>
 			</div>
 			<div class="bo-form-item">
 				<label class="bo-label-required">必填项</label>
 				<div class="bo-select-wrong">
 					<select class="bo-select bo-form-control" style="" type="text" placeholder="请输入内容">
 						<option>item 1</option>
 					</select>
 				</div>
 			</div>
 			<div class="bo-form-item">
 				<label>出错项</label>
 				<div class="bo-input-wrong">
 					<input class="bo-input bo-form-control" type="text" placeholder="请输入内容">
 					<p>信息错误，请重新填写。</p>
 				</div>
 			</div>
 			<div class="bo-form-item">
 				<label>出错项</label>
 				<div class="bo-input-wrong">
 					<input class="bo-input bo-form-control" type="text" placeholder="请输入内容">
 					<div class="bo-tip bo-tip-top">Wrong message</div>
 				</div>
 			</div>
 			<div class="bo-form-item">
 				<label>通过项</label>
 				<div class="bo-input-pass">
 					<input class="bo-input bo-form-control" type="text" placeholder="请输入内容">
 				</div>
 			</div>
 			<div class="bo-form-item-lg">
 				<label>出错项-lg</label>
 				<div class="bo-input-wrong">
 					<input class="bo-input-lg bo-form-control" type="text" placeholder="请输入内容">
 				</div>
 			</div>
 			<div class="bo-form-item-lg">
 				<label>带图标-lg</label>
 				<div class="bo-input-icon">
 					<input class="bo-input-lg bo-form-control" type="text" placeholder="请输入内容">
 					<i class="iconfont icon icon-people"></i>
 				</div>
 			</div>		
 			<div class="bo-form-item">
 				<input type="submit" class="bo-btn-primary" value="确 定">
 				<input type="submit" class="bo-btn-blank" value="取 消">
 			</div>
 		 		
 		</div>
<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
<div class="bo-form">
	<div class="bo-form-item">
		<label class="bo-label-required">必填项</label>
		<div>
			<input class="bo-input bo-form-control" type="text" placeholder="请输入内容">
		</div>
	</div>
	<div class="bo-form-item">
		<label>出错项</label>
		<div class="bo-input-wrong">
			<input class="bo-input bo-form-control" type="text" placeholder="请输入内容">
			<p>信息错误，请重新填写。</p>
		</div>
	</div>
	<div class="bo-form-item">
		<label>通过项</label>
		<div class="bo-input-pass">
			<input class="bo-input bo-form-control" type="text" placeholder="请输入内容">
		</div>
	</div>
	<div class="bo-form-item">
		<label>出错项-lg</label>
		<div class="bo-input-wrong-lg">
			<input class="bo-input-lg bo-form-control" type="text" placeholder="请输入内容">
		</div>
	</div>	
	<div class="bo-form-item">
		<input type="submit" class="bo-btn-primary" value="确 定">
		<input type="submit" class="bo-btn-blank" value="取 消">
	</div>
 		
</div>
]]>
</script>
 	</div>
</section>
</body>
</html>