<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone full</title>
<meta name="description" content="">
<meta name="keywords" content="">
<%- include source.ejs %>
</head>
<body class="bo-body">
<header class="bo-layout-header bo-layout-full">
	<div class="bo-header">
		<div class="bo-header-dock-left">
			<a href="index.html"><i class="iconfont">&#xe617;</i></a>
		</div>
		Bone-mobile 
		<div class="bo-header-dock-right">
			<a href="https://github.com/leedow/bone-mobile" target="_blank">Github</a>
		</div>
	</div>
</header>

<nav class="bo-layout-menu bo-layout-full">
	<div class="bo-menu-icon">
		<ul class="bo-menu-3">
			<li><button><i class="iconfont icon-appreciate"></i></button></li>
			<li><a href="index.php"><i class="iconfont icon-home"></i></a></li>
			<li><i class="iconfont icon-similar"></i></li>
		</ul>
	</div>
</nav>


<section class="bo-layout-main bo-layout-full">
	<div class="bo-box">
		<div class="bo-p1101">
			显示一个容器box
		</div>
<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
	<div class="bo-box">
		<p>显示一个容纳内容的box</p>
	</div>
]]>
</script>
	</div>
	<div class="bo-box bo-p1111 bo-m1000">
		This is box
				<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
 


]]>
</script>
	</div>
	<div class="bo-box bo-m1000">
		<ul class="bo-tab-vertical-bor">
			<li class="bo-tab-item">
				<a href="">这是一个链接</a>
			</li>
			<li class="bo-tab-item">
				<button class="bo-tl">这是一个按钮</button>
				<div class="bo-tab-dock">
					<div class="bo-tab-dock-item">fsdf</div>
				</div>
			</li>
			<li class="bo-tab-item">
				<button class="bo-tr">this is a button</button>
			</li>
		</ul>
	</div>
</section>
</body>
</html>