<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone menu</title>
<meta name="description" content="">
<meta name="keywords" content="">
<%- include source.ejs %>
</head>
<body class="bo-body">
<header class="bo-layout-header bo-layout-full">
	<div class="bo-header">
		<div class="bo-header-dock-left">
			<a href="index.html"><i class="iconfont">&#xe617;</i></a>
		</div>
		Bone-mobile 
		<div class="bo-header-dock-right">
			<a href="https://github.com/leedow/bone-mobile" target="_blank">Github</a>
		</div>
	</div>
</header>

<nav class="bo-layout-menu bo-layout-full">
	<div class="bo-menu-icon">
		<ul class="bo-menu-3">
			<li><button><i class="iconfont icon-appreciate"></i></button></li>
			<li><a href="index.php"><i class="iconfont icon-home"></i></a></li>
			<li><i class="iconfont icon-similar"></i></li>
		</ul>
	</div>
</nav>

<div class="bo-layout-sidebar">
	fsdsd

</div>
<section class="bo-layout-main bo-layout-full">
	<div class="bo-box">
		<div class="bo-p1101">
			显示一个容器box
		</div>
 
	</div>
 
	 
</section>
</body>
</html>