<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone-mobile product list</title>
<meta name="description" content="">
<meta name="keywords" content="">
<%- include source.ejs %>
</head>
<body class="bo-body">
<%- include commonheader.ejs %>
<%- include commonmenu.ejs %>
<%- include commonsidebar.ejs %>
<style type="text/css">

.article .bo-btn, .bo-btn-primary, .bo-btn-warm{
		margin-bottom: 5px;
	}

</style>

<section class="bo-layout-main">
	<div class="bo-box">
	 <ul class="bo-list">
	 	 <li class="list-item-2">
	 	 	<div class="product2">
	 	 		
	 	 		<div class="pic"><img src="http://7xj0kd.com2.z0.glb.qiniucdn.com/product/pic/20160418112535_39389.jpg?imageView2/1" alt=""></div>
	 	 		<div class="name">豪华套餐</div>
	 	 		<div class="intro">很好吃的套餐</div>
	 	 		<div class="price">
	 	 			<span class="num">￥22</span>
					<span class="oldprice">￥22</span>
	 	 		</div>
	 	 		<div class="dock">
	 	 			<div  class="dock-left">
		 	 			<div class="bo-counter">
						<button class="bo-btn bo-btn-tiny counter-btn plus">
							<i class="icon iconfont icon-move"></i>
						</button>
						<input type="text" class="bo-input bo-input-tiny counter-input" value="0">
						<button class="bo-btn bo-btn-tiny counter-btn sub">
							<i class="icon iconfont icon-add1"></i>
						</button>
						<div class="bo-clear"></div>
						</div>
					</div>
					<div class="dock-right">
						<button class="bo-check">
							<i class="icon iconfont icon-cart"></i>						
						</button>
		 	 		</div>
	 	 	</div>

	 	 </li>
	 	 <li class="list-item-2">
	 	 	<div class="product2">
	 	 		
	 	 		<div class="pic"><img src="http://7xj0kd.com2.z0.glb.qiniucdn.com/product/pic/20160418112535_39389.jpg?imageView2/1" alt=""></div>
	 	 		<div class="name">豪华套餐</div>
	 	 		<div class="intro">很好吃的套餐</div>
	 	 		<div class="price">
	 	 			<span class="num">￥22</span>
					<span class="oldprice">￥22</span>
	 	 		</div>
	 	 		<div class="dock">
	 	 			<div  class="dock-left">
		 	 			<div class="bo-counter">
						<button class="bo-btn bo-btn-tiny counter-btn plus">
							<i class="icon iconfont icon-move"></i>
						</button>
						<input type="text" class="bo-input bo-input-tiny counter-input" value="0">
						<button class="bo-btn bo-btn-tiny counter-btn sub">
							<i class="icon iconfont icon-add1"></i>
						</button>
						<div class="bo-clear"></div>
						</div>
					</div>
					<div class="dock-right">
						<button class="bo-check">
							<i class="icon iconfont icon-cart"></i>						
						</button>
		 	 		</div>
	 	 	</div>

	 	 </li>
	 	 <li class="list-item-2">
	 	 	<div class="product2">
	 	 		
	 	 		<div class="pic"><img src="http://7xj0kd.com2.z0.glb.qiniucdn.com/product/pic/20160418112535_39389.jpg?imageView2/1" alt=""></div>
	 	 		<div class="name">豪华套餐</div>
	 	 		<div class="intro">很好吃的套餐</div>
	 	 		<div class="price">
	 	 			<span class="num">￥22</span>
					<span class="oldprice">￥22</span>
	 	 		</div>
	 	 		<div class="dock">
	 	 			<div  class="dock-left">
		 	 			<div class="bo-counter">
						<button class="bo-btn bo-btn-tiny counter-btn plus">
							<i class="icon iconfont icon-move"></i>
						</button>
						<input type="text" class="bo-input bo-input-tiny counter-input" value="0">
						<button class="bo-btn bo-btn-tiny counter-btn sub">
							<i class="icon iconfont icon-add1"></i>
						</button>
						<div class="bo-clear"></div>
						</div>
					</div>
					<div class="dock-right">
						<button class="bo-check">
							<i class="icon iconfont icon-cart"></i>						
						</button>
		 	 		</div>
	 	 	</div>

	 	 </li>
	 	 <li class="list-item-2">
	 	 	<div class="product2">
	 	 		
	 	 		<div class="pic"><img src="http://7xj0kd.com2.z0.glb.qiniucdn.com/product/pic/20160418112535_39389.jpg?imageView2/1" alt=""></div>
	 	 		<div class="name">豪华套餐</div>
	 	 		<div class="intro">很好吃的套餐</div>
	 	 		<div class="price">
	 	 			<span class="num">￥22</span>
					<span class="oldprice">￥22</span>
	 	 		</div>
	 	 		<div class="dock">
	 	 			<div  class="dock-left">
		 	 			<div class="bo-counter">
						<button class="bo-btn bo-btn-tiny counter-btn plus">
							<i class="icon iconfont icon-move"></i>
						</button>
						<input type="text" class="bo-input bo-input-tiny counter-input" value="0">
						<button class="bo-btn bo-btn-tiny counter-btn sub">
							<i class="icon iconfont icon-add1"></i>
						</button>
						<div class="bo-clear"></div>
						</div>
					</div>
					<div class="dock-right">
						<button class="bo-check">
							<i class="icon iconfont icon-cart"></i>						
						</button>
		 	 		</div>
	 	 	</div>

	 	 </li>
	 </ul>
	</div>
</section>
</body>
</html>