<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone-mobile tabs</title>
<meta name="description" content="">
<meta name="keywords" content="">
<%- include source.ejs %>
</head>
<body class="bo-body">
<%- include commonheader.ejs %>
<%- include commonmenu.ejs %>
<%- include commonsidebar.ejs %>
<section class="bo-layout-main">
	<div class="bo-box">
		<div class="article bo-p0101 bo-article">
			 <h2>菜单选项 <small>Tabs</small></h2>
			 <p>横向和纵向菜单。</p>
		</div>
	</div> 
	
	<div class="bo-box bo-m1000">
		<div class="bo-tab-horizon">
			<a class="bo-col-3 bo-tab-item bo-tab-item-current" href="">item1</a>
			<a class="bo-col-3 bo-tab-item" href="">item2</a>
			<a class="bo-col-3 bo-tab-item" href="">item3</a>
			<a class="bo-col-3 bo-tab-item" href="">item4</a>
		</div>
	</div>

	<div class="bo-box bo-m1000">
		<div class="bo-row">
			<div class="bo-col-3">
				<div class="bo-tabmenu">
					
					<div class="tabmenu-pic">
						<i class="icon iconfont icon-people"></i>
					</div>
					<div class="tabmenu-title">
						个人中心
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="bo-box bo-m1000">
		<ul class="bo-tab-vertical-bor">
			<li class="bo-tab-item-icon bo-tab-item-arrow"> 
				<i class="iconfont icon-settings"></i>
				<a href=""> 这是一个链接</a>
			</li>
			<li class="bo-tab-item"> 
				<p>这是一行文本</p>
				<div class="bo-tab-dock">
					<a class="bo-btn" style="" href="">111</a>
					<a class="bo-tab-dock-button" href=""><i class="iconfont icon-appreciate"></i> 链接</a>
					<button class="bo-tab-dock-button">设置</button>
				</div>
			</li>
			<li class="bo-tab-item">
				<button class="bo-tl">这是一个按钮</button>
				<div class="bo-tab-dock">
					<p class="bo-tab-dock-text">说明文字</p>
				</div>
			</li>
			<li class="bo-tab-item">
				<button class="bo-tr">靠右的文字</button>
			</li>
		</ul>
		<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
 
]]>
</script>	
	</div>
</section>
</body>
</html>