.@{prefix}{
	&container{

	}

	&container-app{
		width: 100%;
		margin:0 auto;
		position: absolute;
		top: @header-height;
		bottom: 0;
	}

	&layout-main, &layout-header, &layout-menu{
		background: #fff;
		width: @layout-width-lg;
		margin-left: @sidebar-width-lg;
		z-index:999;
	}

	&layout-full{
		margin-left: 0 !important;
		width: 100% !important;
	}

	&layout-main{
		margin-top:0;
		background: @layout-main-background;
		min-height: 100%;
		box-shadow: @layout-shadow;
		padding: @header-height 0 @menu-height-icon 0;
	}

	&layout-header{
		//width: @width-sm;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		
	}

	&layout-menu{
		//width: @width-sm;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		
	}

	&layout-sidebar{
		width: @sidebar-width-lg;
		height: 100%;
		position: fixed;
		left:0;
		top:0;
		height: 100%;
	}

}