//config
@prefix: 					bo-;

//font
@font-family: 				"Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
@font-size: 				14px;
@font-size-sm: 				12px;
@font-size-md:				16px;
@font-size-lg:				20px;
@font-color: 				#444;
@font-color-light:			#999;
@line-height: 				1.5;

//padding
@padding-vertical:			@font-size;
@padding-horizon:			@font-size;
@margin-vertical:			@font-size;
@margin-horizon:			@font-size*1.5;

//color
@color-primary: 			#6699FF;
@color-secondary:			#f2f2f2;
@color-highlight: 			#FF6633;
@color-comfort:				#66CC33;

//line
@line-color: 				#e0e0e0;

//link color
@link-color:				@font-color;
@link-color-active:			@color-primary;
@link-color-hover:			@color-primary;

//layouts&box
@layout-shadow:				0px 1px 1px #cfcfcf;
@layout-main-background:	#f2f2f2;
@box-title-color:			#999;
//response
@width-lg: 					1200px;
@width-md: 					992px;
@width-sm: 					768px;
@background-body-ti:		#fff;
@background-body-sm:		#fff;
@background-body-md:		#fff;
@background-body-lg:		#fff;
@sidebar-width-ti:			200px;
@sidebar-width-sm:			20%;
@sidebar-width-md:			20%;
@sidebar-width-lg:			20%;
@layout-width-ti:			100%;
@layout-width-sm:			80%;
@layout-width-md:			80%;
@layout-width-lg:			80%;

//global header
@header-height:				44px;
@header-background: 		@color-primary;
@header-color:				#fff;
@header-color-hover:		darken(@color-primary, 10%);

@header-background-light:	#fff;
@header-color-light:		#444;
@header-color-hover-light:	darken(@color-primary, 10%);

//global menu
@menu-border-top:			1px @line-color solid;
@menu-height-icon:			40px;
@menu-background-icon:		#fff;
@menu-color-icon:			#999;
@menu-color-hover-icon:		@color-primary;
@menu-fontsize-icon:		22px;

//global sidebar
@sidebar-width: 			200px;
@sidebar-background:		#34495e;//@color-primary;
@sidebar-tab-color:			lighten(@sidebar-background, 50%);
@sidebar-tab-color-flag:	lighten(@sidebar-background, 38%);

//tabs
@tabs-height:				52px;


//buttons
@btn-radius:				4px;

@btn-padding-sm:			5px 10px;
@btn-padding:				6px 12px;
@btn-padding-lg:			10px 16px;

 

@btn-fontsize-sm:			@font-size-sm;
@btn-fontsize:				@font-size;
@btn-fontsize-lg:			@font-size-md;

@btn-background:			@color-secondary;
@btn-background-primary:	@color-primary;
@btn-background-warm:		@color-highlight;


@btn-color:					@font-color;
@btn-color-primary:			#fff;
@btn-color-warm:			#fff;

//



