.@{prefix}{
	&box{
		text-align: left;
		background: #fff;
		border-top: 1px lighten(@line-color, 30%) solid;
		border-bottom: 1px @line-color solid;
	}

	&box-title{
		padding: 0.5*@padding-vertical @padding-horizon;
		position: relative;
		font-size: @font-size-sm;
		text-align: left;
		font-weight: bold;
		color:@box-title-color;
	}
	&fw{
		width: 100%;
	}
}