.@{prefix}{
	&carousel{
		overflow: hidden;
		position: relative;
		height: 200px;

		.slide{
			position: absolute;
			left:0;
			top:0;

			&>div{
				float: left;
			}
		}

		.arrow-left{
			position: absolute;
			left:0;
			top:0;
		}

		.arrow-right{
			position: absolute;
			right:0;
			top:0;
		}
	}
}