.@{prefix}{
	&carousel{
		overflow: hidden;
		position: relative;
		height: 200px;

		.@{prefix}slide{

		}

		.@{prefix}arrow-left{
			position: absolute;
			left:0;
			top:0;
		}

		.@{prefix}arrow-right{
			position: absolute;
			right:0;
			top:0;
		}
	}
}