.product{
	position: relative;
	padding-left: 	70px;
	height:80px;
	.pic{
		position: absolute;
		width: 80px;
		height: 80px;
		top:0;
		left:0;
	}
	.name{
		font-size: @font-size;
	}
	.intro{
		color: #999;
	}
}

.product-dock{
	.price{
		float:left;
		color: @color-highlight;
		font-size: @font-size-md;
		span{
			font-size: 20px;
		}
	}

	.mount{
		float:right;
	}
}