<nav class="bo-layout-menu">
	<div class="bo-menu-icon">
		<ul class="bo-menu-3">
			<li><button><i class="iconfont icon-appreciate"></i></button></li>
			<li><a href="index.php"><i class="iconfont icon-home"></i></a></li>
			<li><i class="iconfont icon-similar"></i></li>
		</ul>
	</div>
</nav>