<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone-mobile Layouts</title>
<meta name="description" content="">
<meta name="keywords" content="">
<%- include source.ejs %>
</head>
<body class="bo-body">
<%- include commonheader.ejs %>
<%- include commonmenu.ejs %>
<%- include commonsidebar.ejs %>

<section class="bo-layout-main">
	 
	<div class="bo-box">
		<div class="bo-p0111 bo-article">
			<h2>层和盒子 <small>Layouts and box</small></h2>
			<h3>Layout</h3>
			<p>
			层(Layout)用于将页面划分为几个基本的布局，分别是layout-header,layout-sidebar,layout-menu,layout-main。
			</p>
			<h3>box</h3>
			<p>盒子(box)是在同一页面中将内容进一步划分区域的容器，比如下文中layout-header,layout-menu等说明的区域装载体。</p>
			<h3>响应式</h3>
			<p>layout-sidebar根据屏幕大小显示为可见和隐藏状态,同时其余layouts也会调整至最佳宽度。</p>

		</div>
	</div>
	<div class="bo-box-title">Layout-header</div>
	<div class="bo-box">
		<div class="bo-p1101">
			layout-header用于显示APP的头部。
		</div>
		
<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
<header class="bo-layout-header">
	<div class="bo-header">
		层和盒子
	</div>
</header>
]]>
</script>		
	</div> 

	<div class="bo-box-title">Layout-menu</div>
	<div class="bo-box">
		<div class="bo-p1101">
			layout-menu用于显示主菜单，固定在底部。
		</div>
		
<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
<nav class="bo-layout-menu">
	//menu
</nav>
]]>
</script>		
	</div> 

	<div class="bo-box-title">Layout-sidebar</div>
	<div class="bo-box">
		<div class="bo-p1101">
			layout-sidebar用于显示侧栏，宽屏下默认显示，窄屏下默认隐藏。
		</div>
		
<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
<aside class="bo-layout-sidebar">
	//sidebar
</aside>
]]>
</script>		
	</div> 


	<div class="bo-box-title">Layout-main</div>
	<div class="bo-box">
		<div class="bo-p1101">
			layout-main用于显示页面主题部分。
		</div>
		
<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
<section class="bo-layout-main">
	//content
</section>
]]>
</script>		
	</div> 
</section>
</body>
</html>