<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone Lion Theme index</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../build/bone-wis.css?v=1" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../fonts2/iconfont.css">
<!--[if lt IE 9]>
<script type="text/javascript" src="../plugins/html5shiv-printshiv.min.js"></script>
<![endif]-->
<style type="text/css">
html,body{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}
body{
	background: #f2f2f2;
}
.bo-tab-horizon .bo-tab-item{
	padding:0 20px;
}
</style> 
</head>
<body>
<div class="bo-container-sys bo-container-mini">
	<div class="bo-col-header bo-header-fixed">
		<header class="bo-header-light">
			<div class="bo-header-dock-left">	          
	            <a style="border-right:1px #eee solid" href="<?php echo site_url('/home'); ?>"><i class="iconfont">&#xe62f;</i></a>
	        </div>
			<ul class="bo-header-nav">
				<li class="nav-item"><a class="bo-btn-primary bo-nav-button" href="">消息 <i class="icon iconfont">&#xe63e;</i></a></li>
				<li class="nav-item">
					<div class="bo-dropdown-right-bottom">
					    <button class="bo-btn-primary bo-nav-button" style="margin:0;">下拉按钮 <i class="icon iconfont"></i></button>
					    <!--  <ul class="bo-dropdown-menu">
					        <li>菜单</li>
					    </ul> -->
					</div>
				</li>
			</ul>
		</header>
	</div>
	<div class="bo-col-sidebar bo-sidebar-fixed" >
		<h1 class="bo-logo">
			智慧园区
		</h1>
		<h1 class="bo-logo-mini">
			智
		</h1>
		<div id="sidemenu"> 
            <ul class="bo-sidebar-menu">
                <li class="menu-item" data-page="home">
                    <a href="<?php echo site_url('/home'); ?>">
                        <i class="iconfont">&#xe621;</i>
                    系统首页
                    </a>
                </li>
                <li class="menu-item menu-item-current" data-page="department">
                    <a href="<?php echo site_url('department'); ?>">
                        <i class="iconfont">&#xe635;</i>
                    部门管理
                    </a>
                </li>
                <li class="menu-item" data-page="address">
                    <a href="<?php echo site_url('address'); ?>">
                        <i class="iconfont">&#xe607;</i>
                    地址管理
                    </a>
                </li>                           
                <li class="menu-item" data-page="notice">
                    <a href="<?php echo site_url('notice'); ?>">
                        <i class="iconfont">&#xe62f;</i>
                    公告管理
                    </a>
                </li>
            </ul>
        </div>
	</div>	 
	<div class="bo-col-content bg bo-p0101">
 		<div class="row bo-p1111">
 			<div class="col-md-8 bo-p1111">
 				<div class="bo-box user-box">
 					<div class="avatar bo-p1111">
 						<img class="photo" src="../head.jpg" alt="">
 						<h3 class="name">Leedow</h3>
 						<p class="edit-info"><a href="">个人信息</a></p>
 					</div>
 					<ul class="account-data bo-p2222">
 						<li>
 							<h3 class="title">园区数</h3>
 							<p class="count">32 <span class="unit">/ 2</span>	</p>
 							 
 						</li>
 						<li>
 							<h3 class="title">企业数</h3>
 							<p class="count">322 <span class="unit">/ 400</span></p>
 							 
 						</li>
 						<li>
 							<h3 class="title">短信数</h3>
 							<p class="count">200 <span class="unit">/ 200</span></p>
 						 
 						</li>
 						<li>
 							<h3 class="title">服务数</h3>
 							<p class="count">3 <span class="unit">/ 18</span></p>
 						 
 						</li>
 						 
 					</ul>
 					<div class="user-bar bo-m0002 bo-m0200 ">
 						<button class="bo-btn-primary bo-btn-sm">续 费</button>
 						<button class="bo-btn-warm bo-btn-sm">升级套餐</button>
 						<span class="limit" style="padding-left:20px">到期时间 2018-8-8</span>
 					</div>
 				</div>
				<div class="row bo-p2000">
	 				<div class="col-md-4">
	 					<div class="bo-box server-box">
	 						<div class="server-logo">
	 							<img src="../img/kd.jpg" alt="">	
	 						</div>
	 						<div class="server-title">
	 							<a href="">快 递</a>
	 						</div>
	 						<div class="server-content">
	 							企业集体预订外卖，价格更加优惠，资质企业供应，品质有保证
	 						</div>
	 						<div class="server-bar">
	 							<button class="bo-btn-primary bo-btn-sm">续 费</button>
	 							<span>到期</span>
	 						</div>
	 						
	 					</div>
	 				</div>
	 				<div class="col-md-4">
	 					<div class="bo-box server-box">
	 						<div class="server-logo">
	 							<img src="../img/kd.jpg" alt="">	
	 						</div>
	 						<div class="server-title">
	 							<a href="">外 卖</a>
	 						</div>
	 						<div class="server-content">
	 							企业集体预订外卖，价格更加优惠，资质企业供应，品质有保证
	 						</div>
	 						<div class="server-bar">
	 							<button class="bo-btn-primary bo-btn-sm">续 费</button>
	 							<span>到期</span>
	 						</div>
	 						
	 					</div>
	 				</div>
	 				<div class="col-md-4">
	 					<div class="bo-box server-add">
	 						 <i class="icon iconfont">&#xe628;</i>
	 						 <p>添加新服务</p>
	 					</div>
	 				</div>
 				</div>
 			</div>
 			<div class="col-md-4  bo-p1111">
 				<div class="bo-box bo-p0111">
 					<div class="wis-box-title">
						<h2>通知公告</h2>
					</div>
					<ul class="bo-article-list bo-p1000">
						 
						<li><a>智慧园区上线内测</a><span>3-8</span></li>
						<li><a>如何做到园区的高效运转？</a><span>8-8</span></li>
						<li><a>优秀园区所需要具备的几大特征</a><span>5-3</span></li>
						<li><a>新园区如何吸引更多企业入驻</a><span>2-2</span></li>
					</ul>
 				</div>
 			</div>
 		</div>
	</div>
</div>
</body>
</html>