<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Bone-mobile List</title>
<meta name="description" content="">
<meta name="keywords" content="">
<%- include source.ejs %>
</head>
<body class="bo-body">
<%- include commonheader.ejs %>
<%- include commonmenu.ejs %>
<%- include commonsidebar.ejs %>

<section class="bo-layout-main">
	 
	<div class="bo-box">
		<div class="article bo-p1101">
			 <h2>列 表  <small>List</small> 	</h2>
		</div>
		
<script type="syntaxhighlighter" class="brush: csharp;">
<![CDATA[
 s
]]>
</script>	

	</div> 

	<div class="bo-box bo-m1000 bo-p1111">
		<ul class="bo-tab-vertical-bor">
			<li class="bo-tab-item">
				<a href="">这是一个链接</a>
			</li>
			<li class="bo-tab-item">
				<button class="bo-tl">这是一个按钮</button>
				<div class="bo-tab-dock">
					<div class="bo-tab-dock-item">fsdf</div>
				</div>
			</li>
			<li class="bo-tab-item">
				<button class="bo-tr">this is a button</button>
			</li>
		</ul>
	</div>
	 
	 

	 
 
</section>
</body>
</html>